{% extends "base.html" %}
{% load extra_filters %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <p style="margin-top: 10px">
            [<a href="/tasks/">Back</a>]&nbsp;
        </p>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">
                    <b>{{ pipeline_name }}</b><br>
                    <i>{{ pipeline_description }}</i>
                </div>
                <div class="card-body">
                    <form action="/pipelines/{{ pipeline_name }}/run" method="post" enctype="multipart/form-data" id="my-form">
                        {% csrf_token %}
                        <textarea style="height: 400px;" class="form-control" rows="5" placeholder="Enter your text here...">
{
    "pipeline_name": "ExamplePipeline",
    "input_dirs": [
        {"name": "input1", "path": "D:\\Mosamatic\\DjangoTemplate\\ExamplePipeline\\input1"},
        {"name": "input2", "path": "D:\\Mosamatic\\DjangoTemplate\\ExamplePipeline\\input2"}
    ],
    "output_dirs": [
        {"name": "output", "path": "D:\\Mosamatic\\DjangoTemplate\\ExamplePipeline\\output"}
    ],
    "tasks": [
        {
            "task_name": "MergeDirectoriesTask",
            "input_dirs": [],
            "output_dirs": [
                {"name": "output", "path": "D:\\Mosamatic\\DjangoTemplate\\ExamplePipeline\\MergeDirectoriesTask"}
            ],
            "params": []
        },
        {
            "task_name": "CopyFilesTask",
            "input_dirs": [
                {"name": "input", "path": "D:\\Mosamatic\\DjangoTemplate\\ExamplePipeline\\MergeDirectoriesTask"}
            ],
            "output_dirs": [],
            "params": []
        },
    ]
}
                        </textarea>
                        <br>
                        <button type="submit" class="btn btn-primary">Run pipeline</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}