{% extends "base.html" %}
{% load extra_filters %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <p style="margin-top: 10px">
            [<a href="/tasks/">Back</a>]&nbsp;
        </p>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">
                    <b>{{ task_name }}</b><br>
                    <i>{{ task_description }}</i>
                </div>
                <div class="card-body">
                    <form action="/tasks/{{ task_name }}/run" method="post" enctype="multipart/form-data" id="my-form">
                        {% csrf_token %}
                        <p><b>Input filesets</b></p>
                        {% for input_fileset in input_filesets %}
                            <select class="form-select" id="{{ input_fileset.name }}" name="{{ input_fileset.name }}">
                                <option selected>{{ input_fileset.label }}</option>
                                {% for fileset in filesets %}
                                    <option value="{{ fileset.id }}">{{ fileset.name }}</option>
                                {% endfor %}
                            </select>
                            <br>
                        {% endfor %}
                        <p><b>Parameters</b></p>
                        {% for param in params %}
                            <label for="{{ param.name }}" class="form-label">{{ param.label }}</label>
                            {% if param.type == "int" or param.type == "float" %}
                                <input type="number" class="form-control" id="{{ param.name }}" name="{{ param.name }}" placeholder="Enter number" min="{{ param.min }}" max="{{ param.max }}" step="{{ param.step }}" value="{{ param.value }}">
                            {% endif %}
                            {% if param.type == "text" %}
                                <input type="text" class="form-control" id="{{ param.name }}" name="{{ param.name }}" placeholder="Enter text" value="{{ param.value }}">
                            {% endif %}
                            <br>
                        {% endfor %}
                        <p><b>Output fileset names</b></p>
                        {% for output_fileset in output_filesets %}
                            <input type="text" class="form-control" id="{{ output_fileset.name }}" name="{{ output_fileset.name }}" placeholder="{{ output_fileset.label }} (optional)" value="">
                            <br>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Run task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}